<IfModule mod_rewrite.c>
    <IfModule mod_negotiation.c>
        Options -MultiViews
    </IfModule>

    RewriteEngine On

    # Handle Front Controller...
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteRule ^ / [L]

    # Force non-www domain and HTTPS
    RewriteCond %{HTTP_HOST} ^www. [OR]
    RewriteCond %{HTTPS} !=on
    RewriteRule ^(.*)$ https://thophilelabs.com%{REQUEST_URI} [L,R=301,NE]

</IfModule>
