/**
*@Author Thophile
*@Project Thophile.com
*@Page Admin
*/

/** landing part **/
@media only screen and (min-width: 500px) {
    #landing main {
        width: 50vw;
        margin: auto;
    }
}
#landing {
    height: 100vh;
}
#landing main{
    color: var(--accent);
    font-size: 3rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    
}
#landing form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}
#landing h1{
    font-size: 1.2rem;
    margin: 10px 15px;
    padding: 6px;
    border:1px solid var(--accents);
    border-style: none none solid none;
    background-color: inherit;
}
#landing button[type=submit], .inline, #landing input{
    font-size: 1.2rem;
    margin: 15px;
    padding: 6px;
    border:1px solid var(--accents);
    border-radius: 2px;
    background-color: inherit;
    color: var(--accents);
    text-align: center;
}
#landing input::placeholder{
    text-align: center;
}
input:focus{
    outline: 0;
}
.error{
    font-size: 1.2rem;
    margin: 10px 15px;
    padding: 6px;
    color: lightcoral;
    background-color: inherit;
}
#admin main{
    width: 100%;
    display: flex;
    flex-direction: column;
}
#menu{
    display: flex;
    flex-direction: column;
    width: calc(100% - 20px);
    padding: 10px;
    background-color: var(--accents);
    max-height: 200px;
}
#header{
    height: 30px;
    display: flex;
    flex-direction: row;
    color: var(--maincolor);
}
#body{
    max-height: 200px;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
}
.bodyline{
    min-height: 30px;
    margin: 5px;
    padding: 4px 0;
    border: 1px solid var(--secondarycolor);
    border-style: none none solid none;
    display: flex;
    flex-direction: row;
    color: var(--maincolor);
}
.bodyline:hover{
    color: var(--secondarycolor);
}
.id{
    width: 30px;
    color: inherit;
}
.name{
    width: calc(100% - 130px);
    color: inherit;
}
.action{
    min-width: 100px;
    color: inherit;
}
.action a,.action button{
    color:var(--maincolor);
    padding: 5px;
    background-color: inherit;
    border: 1px solid var(--maincolor);
    border-radius: 3px;
}
.action i{
    color: inherit;
}


/** form **/
#form{
    display: flex;
    flex-direction: column;
    min-height: calc(100vh - 300px );

}
#_new{
    font-size: 1.5rem;
    margin: auto;
    padding: 5px;
    background-color: inherit;
    border: 1px solid var(--accents);
    border-radius: 3px;
}
#form h1{
    font-size: 1.5rem;
    margin: 20px 10px;
    max-width: 50%;
    border: 1px solid var(--accents);
    border-style: none none solid none;
}
#_links,#_article{
    display: flex;
    flex-direction: column;
}
button[class$=_add], button[class$=_remove]{
    margin: 5px;
    padding: 5px;
    background-color: inherit;
    color: var(--accents);
    border: 1px solid var(--accents);
    border-radius: 3px;
}

/** Head **/
#_head input{
    font-size: 1.2rem;
    width: calc(100% - 22px);
    padding: 5px;
    margin: 5px;
    border: 1px solid var(--secondarycolor);
    border-radius: 2px;
    background-color: inherit;
}
#_head input[name=title]{
    font-size: 1.2rem;
    width: 50%;
    padding: 5px;
    margin: 5px;
    border: 1px solid var(--secondarycolor);
    border-radius: 2px;
    background-color: inherit;
}

/** Images **/
#_image{
    display: flex;
    flex-direction: row;
}
#_image .image_preview{
    width: 200px;
    height: 200px;
    margin: 5px;
    text-align: center;
    border: 1px solid var(--accents);
    border-radius: 4px;
}
#_image .image_preview input[type=file]{
    z-index: 128;
    position: relative;
    width: 200px;
    height: 175px;
    text-indent: -999em;
}
#_image .image_preview input[type=text]{
    position: relative;
    bottom: 0;
    right: 0;
    width: 165px;
    height: 21px;
    background-color: inherit;
    border: 1px solid var(--secondarycolor);
    border-radius: 3px;
}
#_image .image_preview img{
    display: none;
    position: absolute;
    bottom: auto;
    left: auto;
    max-height: 170px;
    max-width: 200px;
}
#_image .image_preview i.fa-minus{
    position: relative;
    bottom: 0;
    left: 0;
    height: 25px;
    width: 25px;
}
#_image .image_preview i.fa-upload{
    position: absolute;
    bottom: auto;
    left: auto;
    height: 200px;
    width: 200px;
}


/** links **/
#_links div{
    align-self: center;
}
#_links input{
    min-width: 80px;
    border: none;
    background-color: inherit;
    font-size: 1.2rem;
}
#_links input::placeholder{
    font-size: 1.2rem;
}
.link_add{
    font-size: 1.5rem;
}

/**article aprt of the form**/
.article_section,.article_paragraphs{
    display: flex;
    flex-direction: column;
}
.article_title, .article_action{
    display: flex;
    flex-direction: row;
}
.article_section{
    margin: 25px 0;
}
.article_paragraphs{
    margin: 10px 20px;
}
.article_title input{
    font-size: 1.2rem;
    width: 50%;
    padding: 5px;
    margin: 5px;
    border: 1px solid var(--secondarycolor);
    border-radius: 2px;
    background-color: inherit;
}
.article_title input::placeholder{
    font-size: 1.2rem;
}
.article_paragraphs textarea{
    padding: 5px;
    margin: 10px;
    min-height: 100px;
    border: 1px solid var(--secondarycolor);
    border-radius: 2px;
    background-color: inherit;
}
.article_action button{
    width: 50%;
}
.paragraphs_add,.paragraphs_remove{
    margin: 5px 40px!important;
}
.section_add{
    font-size: 1.5rem;
    margin: 10px 5 !important;
}


#_submit{
    margin: 20px 0;
}
#_submit button,#_submit a{
    width: calc(50% - 30px);
    font-size: 1.2rem;
    background-color: inherit;
    border: 1px solid var(--accents);
    border-radius: 2px;
    padding: 5px;
    margin: 10px;
    text-align: center;
}
                                                          
