/**
*@Author Thophile
*@Project Thophile.com
*@Page Admin
*/

/**    Admin part    **/

    /* Fontsize */
#_links input,#_links input::placeholder, .article_title input::placeholder,.article_title input,#_head input,.pills{
    font-size: 1.2rem;
}

/**    Menu    **/
#menu{
    width: calc(100% - 20px);
    padding: 10px;
    background-color: var(--accent);
    max-height: 220px;
}
    #header{
        height: 30px;
        color: var(--mainColor);
    }
    #body{
        max-height: 200px;
        overflow-y: auto;
    }
        .bodyline{
            margin: 5px;
            padding: 8px 0;
            border: 1px solid var(--secondaryColor);
            border-style: none none solid none;
            align-items: center;
            color: var(--mainColor);
        }
        .bodyline:hover{
            color: var(--secondaryColor);
        }
            .id{
                width: 30px;
                color: inherit;
            }
            .name{
                width: calc(100% - 130px);
                color: inherit;
            }
            .action{
                min-width: 100px;
                color: inherit;
            }
                .action a{
                    color:var(--mainColor);
                    padding: 5px;
                    background-color: inherit;
                    border: 1px solid var(--mainColor);
                    border-radius: 3px;
                }
                .action a:hover{
                    border-radius: 20px;
                    transition: 0.4s;
                }
                .action i{
                    color: inherit;
                }


/**    Form    **/
#form{
    padding: 10px 0;
    min-height: calc(100vh - 340px );

}
        /* Ttitles */
    #form h1{
        font-size: 1.5rem;
        margin: 20px 10px;
        max-width: 50%;
        border: 1px solid var(--accent);
        border-style: none none solid none;
    }

        /* Buttons */
    button[class$=_add], button[class$=_remove]{
        margin: 5px;
        padding: 8px;
        background-color: inherit;
        border: none;
        color: var(--accent);
    }
    .link_add, .image_add, .section_add{
        font-size: 1.3rem;
        padding: 10px;
        width: 50%;
        align-self: center;
    }
    .paragraphs_add,.paragraphs_remove{
        width: 50%;
        margin: 5px 40px!important;
    }
    .section_add{
        margin: 10px 5 !important;
    }
    .pills{
        width: 40%;
        padding: 6px;
        margin: 5px;
        border:1px solid var(--accent)!important;
        border-radius: 20px!important;
        text-align: center;
    }
    .pills:hover{
        background-color: var(--accent)!important;
        color: var(--mainColor)!important;
        transition: 0.4s;
    }
        .pills i, .image_add i{
            color: inherit !important;
        }
    
        /* Divs */

    #_head, #_image, #_links, #_article{
        background-color: var(--mainColor);
        margin: 20px 10px;
        padding: 10px;
        border-radius: 5px;
        box-shadow: 0px 0px 10px 0px var(--accent);
    }
        #_head h1, #_image h1, #_links h1, #_article h1{
            align-self: flex-start;
        }
    
        
        /* Inputs */

    #_head input{
        width: calc(100% - 22px);
        padding: 5px;
        margin: 5px;
        border: 1px solid var(--secondaryColor);
        border-radius: 15px;
        background-color: inherit;
    }
    #_head input[name=title]{
        width: 50%;
       align-self: center;
       text-align: center;
    }
    .image_preview input[type=file]{
        z-index: 128;
        position: relative;
        width: 200px;
        height: 175px;
        text-indent: -999em;
    }
    .image_preview input[type=text]{
        position: relative;
        bottom: 0;
        right: 0;
        width: 165px;
        height: 21px;
        background-color: inherit;
        border: 1px solid var(--secondaryColor);
        border-radius: 3px;
    }
    #_links input{
        min-width: calc(45% - 80px);
        border: none;
        background-color: inherit;
    }
    #_links input[placeholder = "Link"]{
        width: 55%;
    }
    .article_title input{
        width: 50%;
        padding: 5px;
        margin: 5px;
        border: 1px solid var(--secondaryColor);
        border-radius: 5px;
        background-color: inherit;
    }
    .article_paragraphs textarea{
        padding: 5px;
        margin: 10px;
        min-height: 100px;
        border: 1px solid var(--secondaryColor);
        border-radius: 15px;
        background-color: inherit;
    }
    input:hover, input:focus,textarea:hover,textarea:focus{
        border-radius: 5px!important;
        transition: 0.4s;
    }

        /* Images */
    #_image .preview_row{
        flex-wrap: wrap;
        justify-content: center;
    }
    
            /* Preview box */
        .image_preview{
            width: 200px;
            height: 200px;
            margin: 5px;
            text-align: center;
            align-self: center;
            border: 1px solid var(--accent);
            border-radius: 4px;
        }       
            /* Other */
            .image_preview img{
                display: none;
                position: absolute;
                bottom: auto;
                left: auto;
                max-height: 170px;
                max-width: 200px;
            }
            .image_preview i.fa-minus{
                position: relative;
                bottom: 0;
                left: 0;
                height: 25px;
                width: 25px;
            }
            .image_preview i.fa-upload{
                position: absolute;
                top: auto;
                left: auto;
                height: 200px;
                width: 200px;
            }


        /* Links */
    #_links div{
        align-self: center;
        margin: 5px 10px;
        width: calc(100% - 20px);
    }

        /* Article */
    .article_section{
        margin: 25px 0;
    }
    .article_paragraphs{
        margin: 10px 20px;
    }

        /* Submit */
    #_submit{
        justify-content: center;
        align-self:center;
        width: 70%;
        margin: 20px 0;
    }
        #status{
            width: 100%;
            text-align: center;
        }

        /* New */
    #_new{
        font-size: 1.5rem;
        margin: auto;
        padding: 8px;
        background-color: inherit;
    }