/**
*@Author Thophile
*@Project Thophile.com
*@Page Home
*/

/** Pres section of home **/
#pres{
    background: linear-gradient(110deg, var(--accents) 69.9%, var(--maincolor) 70%);
}
#pres h1{
    margin: 10px 15px;
    font-size: 1.3rem;
    color: var(--maincolor);
}
#pres h2{
    margin: 5px 35px;
    font-size: 1.1rem;
    color: var(--secondarycolor);
}
#pres a{
    max-width: 35%;
    text-align: center;
    margin: 20px 35px;
    font-size: 1.1rem;
    color: var(--maincolor);
    border: 2px solid var(--maincolor);
    border-radius: 3px;
    padding: 5px;
}
#pres div.col-70{
    text-align: left;
    align-items: flex-start;
}
#pres .fa-user{
    text-align: center;
}

/** Project section of home **/
#projects{
    background: linear-gradient(70deg, var(--maincolor) 34.9%, var(--secondarycolor) 35%);
}
#projects h1{
    margin: 30px 15px;
    font-size: 1.3rem;
    color: var(--maincolor);
}
#projects a{
    max-width: 35%;
    text-align: center;
    margin: 10px 35px;
    font-size: 1.1rem;
    color: var(--maincolor);
    border: 2px solid var(--maincolor);
    border-radius: 3px;
    padding: 5px;
}
#projects div.col-70{
    text-align: right;
    align-items: flex-end;
}
#projects .fa-tasks{
    color: var(--secondarycolor);
    text-align: center;
}

/** Contact section of home **/
#contact{
    background: linear-gradient(105deg, var(--accents) 74.9%, var(--maincolor ) 75%);
}
#contact h1{
    margin: 30px 15px;
    font-size: 1.3rem;
    color: var(--maincolor);
}
#contact a{
    max-width: 35%;
    text-align: center;
    margin: 10px 35px;
    font-size: 1.1rem;
    color: var(--maincolor);
    border: 2px solid var(--maincolor);
    border-radius: 3px;
    padding: 5px;
}
#contact div.col-70{
    text-align: left;
    align-items: flex-start;
}
.fa-envelope-open{
    text-align: center;
}