/**
*@Author Thophile
*@Project Thophile.com
*@Page Home
*/
main{
    overflow-x: hidden;
}
main section{
    display: none;
}

main section.active{
    display: flex;
    height: calc(100vh - 30px - 50px - 50px);
    margin: 15px;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    /** Animation **/
    animation-name: inRight;
    animation-duration: 0.75s;
    animation-timing-function: ease-out;
}
@keyframes inRight {
    from {transform:
        scale(0.8)
        translateX(40vw)
    }
    to {transform:
        scale(1)
        translateX(0)
    }
}
#projects.active{
    animation-name: inLeft;
}
@keyframes inLeft{
    from {transform:
        scale(0.8)
        translateX(-40vw)
    }
    to {transform:
        scaleY(1)
        translateX(0)
    }
}

/** Pres section of home **/
#pres{
    background: linear-gradient(110deg, var(--accent) 69.9%, var(--mainColor) 70%);
}
#pres h1{
    margin: 10px 15px;
    font-size: 1.3rem;
    color: var(--mainColor);
}
#pres h2{
    margin: 5px 35px;
    font-size: 1.1rem;
    color: var(--secondaryColor);
}
#pres a{
    max-width: 35%;
    text-align: center;
    margin: 20px 35px;
    font-size: 1.1rem;
    color: var(--mainColor);
    border: 2px solid var(--mainColor);
    border-radius: 3px;
    padding: 5px;
}
#pres div.col-70{
    text-align: left;
    align-items: flex-start;
}
#pres .fa-user{
    text-align: center;
}

/** Project section of home **/
#projects{
    background: linear-gradient(70deg, var(--mainColor) 34.9%, var(--accentLight) 35%);
}
#projects h1{
    margin: 30px 15px;
    font-size: 1.3rem;
    color: var(--mainColor);
}
#projects a{
    max-width: 35%;
    text-align: center;
    margin: 10px 35px;
    font-size: 1.1rem;
    color: var(--mainColor);
    border: 2px solid var(--mainColor);
    border-radius: 3px;
    padding: 5px;
}
#projects div.col-70{
    text-align: right;
    align-items: flex-end;
}
#projects .fa-tasks{
    color: var(--accentLight);
    text-align: center;
}

/** Contact section of home **/
#contact{
    background: linear-gradient(105deg, var(--accent) 74.9%, var(--mainColor ) 75%);
}
#contact h1{
    margin: 30px 15px;
    font-size: 1.3rem;
    color: var(--mainColor);
}
#contact a{
    max-width: 35%;
    text-align: center;
    margin: 10px 35px;
    font-size: 1.1rem;
    color: var(--mainColor);
    border: 2px solid var(--mainColor);
    border-radius: 3px;
    padding: 5px;
}
#contact div.col-70{
    text-align: left;
    align-items: flex-start;
}
.fa-envelope-open{
    text-align: center;
}