/**
*@Author Thophile
*@Project Thophile.com
*@Page Login
*/

/**    Landing part    **/
body{
    justify-content: center;
    height: 100vh;
}
main{
    display: flex;
    align-content: center;
    justify-content: center;
}
#login{
    display: flex;
    flex-direction: column;
    flex-grow: 0;
    justify-content: center;
    align-self: center;
    text-align: center;
    min-height: 0;
    padding: 15px;
    border-radius: 10px;
    color: var(--accent);
    font-size: 3rem;
    box-shadow: 1px 1px 10px 0px var(--accent), 1px 1px 10px 0px var(--accent);
    
}
@media only screen and (min-width: 600px) {
    #login {
        padding: 5%;
    }
}
form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}
#login h1{
    font-size: 1.2rem;
    margin: 20px 15px;
    padding: 6px;
    border:1px solid var(--accent);
    border-style: none none solid none;
    background-color: inherit;
    align-self: center;
}
form div{
    margin-top: 20px;
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: center;
}
#login button[type=submit], .inline{
    width: 50%;
    font-size: 1.2rem;
    padding: 6px;
    margin: 5px;
    border:1px solid var(--accent);
    border-radius: 20px;
    background-color: inherit;
    text-align: center;
}

#login button[type=submit]:hover, .inline:hover{
    background-color: var(--accent);
    color: var(--mainColor)!important;
    transition: 0.4s;
}

#login input{
    font-size: 1.2rem;
    margin: 5px;
    padding: 6px;
    border:1px solid var(--accent);
    border-radius: 20px;
    background-color: inherit;
    color: var(--accent);
    text-align: center;
}
#login input:hover, #login input:focus{
    border-radius: 4px;
    transition: 0.4s;
}

#login input::placeholder{
    text-align: center;
}
input:focus{
    outline: 0;
}
.error{
    font-size: 1.2rem;
    margin: 10px 15px;
    padding: 6px;
    color: lightcoral;
    background-color: inherit;
}