/**
*@Author Thophile
*@Project Thophile.com
*/


/** Global section **/
:root{
    --maincolor:#dee1e9;
    --secondarycolor:#7a8189;
    --accents:#3c424e;
}
*{
    font-family: Arial, Helvetica, sans-serif;
    color: var(--accents);
    margin: 0;
    padding: 0;
    text-decoration: none;
}
section{
    overflow: hidden;
}
body{
    display: flex;
    flex-direction: column;
}
.logo{
    position: relative;
    max-height: 32px;
    margin: 9px 0;
    left: calc(50vw - 16px);

}
.h-60{
    height: 60vh;
}
/** -600px only */
@media only screen and (min-width: 500px) {
    .logo {
        margin: 9px 9px 9px 9px;
        left: 0;
    }
    #side-nav{
        display: none !important;
    }
    #nav-toggle{
        display: none !important;
    }
    .label{
        position: absolute;
        overflow: hidden;
        right: 20px;

        font-size: 1.3rem;
        display: inline-flex !important;
        top: calc(50% - ( 1.3rem / 2 ));
    }
  }
/** header section **/
header{
    height: 50px;
}
.nav-link{
    margin: 0 10px;
}
#navbar{
    position: fixed;
    width: 100%;
    background-color: var(--maincolor);
    height: 50px;
    transition: 0.4s;
    z-index: 256;
}
.title{
    position: absolute;
    font-size: 1.3rem;
    top: calc((45px - 1.3rem) / 2);
    left: 80px;
}
.label{
    display: none;

}
#nav-toggle{
    position: absolute;
    border: none;
    top: 10px;
    height: 30px;
    width: 30px;
    left: 10px;
    background-color: inherit;
}

#side-nav{
    position: fixed;
    height: 100%;
    width: 250px;
    top : 0;
    left: -250px;
    transition: 0.5s;
    background-color: var(--maincolor);
    z-index: 128;
}
#side-nav ul{
    margin-top: 70px;
    margin-left: 40px;
    list-style: none;
    font-size: 1.2rem;
}
#side-nav ul li{
    margin: 10px 0px;
}
.fa-bars{
    color: inherit;
}


/** main section **/
main{
    flex: 1 0 auto;
}
.section-row{
    display: flex;
    height: 100vh;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
}
.col-70{
    display: flex;
    height: 100%;
    width: 70%;
    flex-direction: column;
    justify-content: center;
}
.col-30{
    display: flex;
    height: 100%;
    width: 30%;
    flex-direction: column;
    justify-content: center;
}
.col{
    display: flex;
    height: 100%;
    width: 100%;
    flex-direction: column;
    justify-content: center;
}
.right{
    text-align: right;
}

/** pres section of home **/
#pres{
    background: linear-gradient(110deg, var(--accents) 69.9%, var(--maincolor) 70%);
}
#pres h1{
    margin: 30px 10px;
    font-size: 1.3rem;
    color: var(--maincolor);
}
#pres h2{
    margin: 10px 30px;
    font-size: 1.1rem;
    color: var(--secondarycolor);
}
#pres .fa-user{
    text-align: center;
}

/** project section of home **/
#project{
    background: linear-gradient(70deg, var(--maincolor) 64.9%, var(--secondarycolor ) 65%);
}
#project h1{
    margin: 30px 10px;
    font-size: 1.3rem;
}
#project a{
    max-width: 35%;
    text-align: center;
    margin: 10px 30px;
    font-size: 1.1rem;
    color: var(--accents);
    border: solid var(--accents);
    border-radius: 3px;
    padding: 3px;
}
#project .fa-tasks{
    text-align: center;
}

/** contact section of home **/
#contact{
    background: linear-gradient(105deg, var(--accents) 74.9%, var(--maincolor ) 75%);
}
#contact h1{
    margin: 30px 10px;
    font-size: 1.3rem;
    color: var(--maincolor);
}
#contact a{
    max-width: 35%;
    text-align: center;
    margin: 10px 30px;
    font-size: 1.1rem;
    color: var(--maincolor);
    border: solid var(--maincolor);
    border-radius: 3px;
    padding: 3px;
}
.fa-envelope-open{
    text-align: center;
    color: var(--secondarycolor) !important;
}


/** main section of projects **/
#projects{
    background: linear-gradient(105deg, var(--accents) 74.9%, var(--maincolor ) 75%);
    height: 40vh !important;
}
#projects h1{
    margin: 20px 10px;
    font-size: 1.3rem;
    color: var(--maincolor);
}
#projects form{
    margin: 0 30px;
}
#projects button{/*filter button*/
    border:2px solid var(--maincolor);
    border-radius: 3px;
    color: var(--maincolor);
    padding: 5px;
    margin: 5px;
    background-color: inherit;
    font-size: 1rem;
}

/** projects presentation **/
.projects{
    background: linear-gradient(80deg, rgba(50, 50, 50, 0.80) 55%, #dee1e9 100%);
    height: 40vh !important;
    border-bottom:1px solid var(--accents);
}
.projects h1{
    margin: 0 10% 0 10px;
    font-size: 1.3rem;
    color: var(--maincolor);
    text-shadow: 2px 2px #000;
}
.projects h2{
    margin: 0 30px;
    font-size: 1.1rem;
    color: var(--maincolor);
    text-shadow: 2px 2px #000;
}
.projects a{
    border: 2px solid var(--accents);
    border-radius: 4px;
    text-align: center;
    color: var(--maincolor);
    padding: 5px;
    margin: 10% 10% 0 10%;
    background-color: var(--accents);
    font-size: 1.1rem;
}
.projects a:hover{
    color: var(--secondarycolor);
    border-color: var(--secondarycolor);
    cursor: pointer;
}
/**:deskapp{
    background-image: linear-gradient(80deg, rgba(50, 50, 50, 0.80) 55%, #dee1e9 100%), url(/assets/img/DeskApp.png);
}**/
/** project individual view */
.overview{
    background: linear-gradient(75deg, var(--accents) 59.9%, #dee1e9 60%, #dee1e9 61.4%, var(--accents) 61.5%, var(--accents) 62.9%, #dee1e9 63%, #dee1e9 64.4%, var(--accents) 64.5%);
    height: 40vh !important;
    border-bottom:1px solid var(--accents);
}
.overview h1{
    margin: 0 10% 0 10px;
    font-size: 1.3rem;
    color: var(--maincolor);
    text-shadow: 2px 2px #000;
}
.overview h2{
    margin: 0 30px;
    font-size: 1.1rem;
    color: var(--maincolor);
    text-shadow: 2px 2px #000;
}
.overview a{
    border: 2px solid var(--maincolor);
    border-radius: 4px;
    text-align: center;
    color: var(--maincolor);
    padding: 5px;
    margin: 10% 10% 0 10%;
    background-color: var(--accents);
    font-size: 1.1rem;
}
.overview a:hover{
    color: var(--secondarycolor);
    border-color: var(--secondarycolor);
    cursor: pointer;
}
#links{
    padding: 5px 0px;
    background-color: var(--accents);
}
#links a{
    color: var(--maincolor);
    border:1px solid var(--maincolor);
    border-radius: 3px;
    min-width: 125px;
    padding: 3px;
    margin:2px;
    text-align: center;
}
#images{
    width: 100%;
    background-color: var(--maincolor);
}
#images img{
    height: 60vh;
    width: auto;
    display: none;
    margin: 0 auto;
}
#images img.active{
    display: block;
}
#images .dots.active{
    background-color: var(--accents);
}
#images .banner{
    min-height: 40px;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
}
#images label{
    display: inline-block;
    width: 100%;
    text-align: center;
    font-size: 1.2rem;
}
#images .dots_group{
    height: 20px;
    width: 100%;
    text-align: center;
}
.dots{
    background-color: var(--maincolor);
    display: inline-block;
    margin: 2px;
    width: 16px;
    height: 16px;
    border: 1px solid var(--accents);
    border-radius: 8px; 
    color: var(--maincolor);
}

/** footer section **/
footer{
    flex-shrink: 0;
    height: 50px;
    background-color: var(--maincolor);
}
.row{
    display: flex;
    height: 100%;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
}
.meta{
 padding: 15px;
 text-align: center;
}



/** States **/
a:hover, a:focus{
    color: var(--secondarycolor)!important;
    cursor: pointer;
}
.nav-link:hover, .nav-link:focus{
    color: var(--secondarycolor);
}
button:hover, button:focus{
    color: var(--secondarycolor) !important;
}
button:focus, .btn:focus{
    outline: 0;
}
button::-moz-focus-inner, .btn::-moz-focus-inner{ 
    border: 1px none solid var(--secondarycolor)!important;
}
*:focus{
    outline-style:solid;
    outline-offset: 1.5px;
    outline-width: 0.5px;
}



