/**
*@Author Thophile
*@Project Thophile.com
*/


/** Global section **/
:root{
    --maincolor:#dee1e9;
    --secondarycolor:#7a8189;
    --accents:#3c424e;
}
*{
    font-family: Arial, Helvetica, sans-serif;
    color: var(--accents);
    margin: 0;
    padding: 0;
    text-decoration: none;
}
html, body{
    height: 100%;
}
body{
    display: flex;
    flex-direction: column;
}

/** header section **/
header{
    height: 50px;
}
#navbar{
    position: fixed;
    width: 100%;
    background-color: var(--maincolor);
    height: 50px;
    transition: 0.4s;
    z-index: 256;
}
.title{
    position: absolute;
    font-size: 1.3rem;
    top: calc((45px - 1.3rem) / 2);
    left: 60px;
}
.label{
    position: absolute;
    top: calc((45px - 1.3rem) / 2);
    right: 20px;
    font-size: 1.3rem;
}
#nav-toggle{
    position: absolute;
    border: none;
    top: 10px;
    height: 30px;
    width: 30px;
    left: 10px;
    background-color: inherit;
}

#side-nav{
    position: fixed;
    height: 100%;
    width: 250px;
    top : 0;
    left: -250px;
    transition: 0.5s;
    background-color: var(--maincolor);
    z-index: 128;
}
#side-nav ul{
    margin-top: 70px;
    margin-left: 40px;
    list-style: none;
    font-size: 1.2rem;
}
#side-nav ul li{
    margin: 10px 0px;
}
.fa-bars{
    color: inherit;
}


/** main section **/
main{
    flex: 1 0 auto;
    margin-top: 50px;
}
#pres{
height: 700px;
background-color: red;
}
#project{
    height: 700px;
    background-color: blue;
}
#contact{
    height: 700px;
    background-color: red;
}

/** footer section **/
footer{
    flex-shrink: 0;
    height: 50px;
    background-color: var(--maincolor);
}
.row{
    display: flex;
    height: 100%;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
}
.meta{
 padding: 15px;
 text-align: center;
}



/** States **/

.nav-link:hover, .nav-link:focus{
    color: var(--secondarycolor);
}
button:hover, button:focus{
    color: var(--secondarycolor) !important;
}
button:focus{
    outline: 0;
}
button::-moz-focus-inner{ 
    border: 0;
}
*:focus{
    outline-style: solid;
    outline-offset: 1.5px;
    outline-width: 0.5mm;
}



