/**
*@Author Thophile
*@Project Thophile.com
*/


/** Global section **/
:root{
    --mainColor:#dee1e9;
    --secondaryColor:#7a8189;
    --accent:#3c424e;
    --accentLight: #505663;
}
*{
    font-family: Arial, Helvetica, sans-serif;
    color: var(--accent);
    margin: 0;
    padding: 0;
    text-decoration: none;
}
section{
    overflow: hidden;
}
body{
    display: flex;
    flex-direction: column;
    background-color: var(--mainColor);
}
main{
    transition: 0.4s;
}
.logo{
    position: relative;
    max-height: 32px;
    margin: 9px 0;
    left: calc(50vw - 16px);

}
.h-60{
    height: 60vh;
}
/** -600px only */
@media only screen and (min-width: 600px) {
    .logo {
        margin: 9px 9px 9px 9px;
        left: 0;
    }
    #side-nav{
        display: none !important;
    }
    #nav-toggle{
        display: none !important;
    }
    .label{
        position: absolute;
        overflow: hidden;
        right: 20px;

        font-size: 1.3rem;
        display: inline-flex !important;
        top: calc(50% - ( 1.3rem / 2 ));
    }
  }
/** header section **/
header{
    position: relative;
    height: 50px;
}
.nav-link{
    margin: 0 10px;
}
#navbar{
    position: fixed;
    width: 100%;
    background-color: var(--mainColor);
    box-shadow: 0 0 10px;
    height: 50px;
    transition: 0.4s;
    z-index: 256;
}
#lang-toggle{
    padding: 0 10px;
}
#lang-toggle i:hover{
    color: var(--secondaryColor);
}
#lang-list a{
    padding:5px;
}
#lang-list a[data-selected="true"]{
    background-color: var(--accent);
    color:var(--mainColor);
}
#lang-list{
    display:none;
    flex-direction: column;
    position: fixed;
    top:55px;
    z-index: 2048;
    background-color: var(--mainColor);
    box-shadow: 0 0 10px;
    padding: 10px ;
    margin: -15px;
}

.title{
    position: absolute;
    font-size: 1.3rem;
    top: calc((45px - 1.3rem) / 2);
    left: 80px;
}
.label{
    display: none;

}
#nav-toggle{
    position: absolute;
    color: var(--accent);
    border: none;
    top: 10px;
    height: 30px;
    width: 30px;
    left: 10px;
    background-color: inherit;
}

#side-nav{
    position: fixed;
    height: 100%;
    width: 250px;
    top : 0;
    left: -250px;
    transition: 0.5s;
    background-color: var(--mainColor);
    z-index: 128;
}
#side-nav ul{
    margin-top: 70px;
    margin-left: 40px;
    list-style: none;
    font-size: 1.2rem;
}
#side-nav ul li{
    margin: 10px 0px;
}
.fa-bars{
    color: inherit;
}


/** main section **/
main{
    flex: 1 0 auto;
    min-height: calc(100vh - 100px);
}

.col-70{
    display: flex;
    height: 100%;
    width: 70%;
    flex-direction: column;
    justify-content: center;
}
.col-30{
    display: flex;
    height: 100%;
    width: 30%;
    flex-direction: column;
    justify-content: center;
}
.col{
    display: flex;
    flex-direction: column;
}
.row{
    display: flex;
    flex-direction: row;
}
.right{
    text-align: right;
}
/**:deskapp{
    background-image: linear-gradient(80deg, rgba(50, 50, 50, 0.80) 55%, #dee1e9 100%), url(/assets/img/DeskApp.png);
}**/
/** footer section **/
footer{
    flex-shrink: 0;
    height: 50px;
    background-color: var(--mainColor);
}
.row{
    display: flex;
    height: 100%;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
}
.meta{
 padding: 15px;
 text-align: center;
}
.pills{
    background-color: var(--mainColor);
    width: 40%;
    padding: 6px;
    margin: 5px;
    border:1px solid var(--accent)!important;
    border-radius: 20px!important;
    text-align: center;
}
.pills.inverted{
    background-color: var(--accent);
    color: var(--mainColor);
    border:1px solid var(--mainColor)!important;
}
.pills:hover{
    background-color: var(--accent)!important;
    color: var(--mainColor)!important;
    transition: 0.4s;
}
    .pills i{
        color: inherit !important;
    }
.pills.inverted:hover{
    background-color: var(--mainColor)!important;
    color: var(--accent)!important;
    transition: 0.4s;
}


/** States **/
a:hover, a:focus{
    color: var(--secondaryColor)!important;
    cursor: pointer;
}
.nav-link:hover, .nav-link:focus{
    color: var(--secondaryColor);
}
button:hover, button:focus{
    color: var(--secondaryColor) !important;
    cursor: pointer;
}
button i:hover{
    color: var(--secondaryColor);
    cursor: pointer;
}
button:focus, .btn:focus, textarea:focus{
    outline: none;
    color: var(--accentLight);
    /*border: 1px solid var(--secondaryColor)!important;*/

}
input:focus{
    outline: 0;
}
button::-moz-focus-inner,textarea::-moz-focus-inner, .btn::-moz-focus-inner{ 
    border: 2px none var(--secondaryColor)!important;
    border-style: none;
}
*:focus{
    outline-style: solid;
    outline-offset: 1.5px;
    outline-width: 0.5px;
}




