/**
*@Author Thophile
*@Project Thophile.com
*/


/** Global section **/
:root{
    --maincolor:#dee1e9;
    --secondarycolor:#7a8189;
    --accents:#3c424e;
}
*{
    font-family: Arial, Helvetica, sans-serif;
    color: var(--accents);
    margin: 0;
    padding: 0;
    text-decoration: none;
    overflow-x: hidden;
}
body{
    display: flex;
    flex-direction: column;
}

/** header section **/
header{
    height: 50px;
}
#navbar{
    position: fixed;
    width: 100%;
    background-color: var(--maincolor);
    height: 50px;
    transition: 0.4s;
    z-index: 256;
}
.title{
    position: absolute;
    font-size: 1.3rem;
    top: calc((45px - 1.3rem) / 2);
    left: 60px;
}
.label{
    position: absolute;
    top: calc((45px - 1.3rem) / 2);
    right: 20px;
    font-size: 1.3rem;
}
#nav-toggle{
    position: absolute;
    border: none;
    top: 10px;
    height: 30px;
    width: 30px;
    left: 10px;
    background-color: inherit;
}

#side-nav{
    position: fixed;
    height: 100%;
    width: 250px;
    top : 0;
    left: -250px;
    transition: 0.5s;
    background-color: var(--maincolor);
    z-index: 128;
}
#side-nav ul{
    margin-top: 70px;
    margin-left: 40px;
    list-style: none;
    font-size: 1.2rem;
}
#side-nav ul li{
    margin: 10px 0px;
}
.fa-bars{
    color: inherit;
}


/** main section **/
main{
    flex: 1 0 auto;
}
.section-row{
    display: flex;
    height: 100vh;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
}
.col-70{
    display: flex;
    height: 100%;
    width: 70%;
    flex-direction: column;
    justify-content: center;
}
.col-30{
    display: flex;
    height: 100%;
    width: 30%;
    flex-direction: column;
    justify-content: center;
}

/** pres section of home **/
#pres{
    background: linear-gradient(110deg, var(--accents) 69.9%, var(--maincolor) 70%);
}
#pres h1{
    margin: 30px 10px;
    font-size: 1.3rem;
    color: var(--maincolor);
}
#pres h2{
    margin: 10px 30px;
    font-size: 1.1rem;
    color: var(--secondarycolor);
}
#pres .fa-user{
    text-align: center;
}

/** project section of home **/
#project{
    background: linear-gradient(70deg, var(--maincolor) 64.9%, var(--secondarycolor ) 65%);
}
#project h1{
    margin: 30px 10px;
    font-size: 1.3rem;
}
#project a{
    max-width: 35%;
    text-align: center;
    margin: 10px 30px;
    font-size: 1.1rem;
    color: var(--secondarycolor);
    border: solid;
    border-color: var(--accents);
    border-radius: 3px;
    padding: 3px;
}
#project .fa-tasks{
    text-align: center;
}

/** contact section of home **/
#contact{
    background: linear-gradient(105deg, var(--accents) 74.9%, var(--maincolor ) 75%);
}
#contact h1{
    margin: 30px 10px;
    font-size: 1.3rem;
    color: var(--maincolor);
}
#contact a{
    max-width: 35%;
    text-align: center;
    margin: 10px 30px;
    font-size: 1.1rem;
    color: var(--secondarycolor);
    border: solid;
    border-color: var(--secondarycolor);
    border-radius: 3px;
    padding: 3px;
}
.fa-envelope-open{
    text-align: center;
    color: var(--secondarycolor) !important;
}


/** main section of projects **/
#projects{
    background: linear-gradient(105deg, var(--accents) 74.9%, var(--maincolor ) 75%);
    height: 40vh !important;
}
#projects h1{
    margin: 20px 10px;
    font-size: 1.3rem;
    color: var(--maincolor);
    text-shadow: 2px 2px #000
}
#projects form{
    margin: 0 30px;
}
#projects button{
    border: solid;
    border-color: var(--maincolor);
    border-radius: 3px;
    border-width: 2px;
    color: var(--maincolor);
    padding: 5px;
    margin: 5px;
    background-color: inherit;
    font-size: 1rem;
}

/** projects presentation **/
.projects{
    background: linear-gradient(80deg, rgba(50, 50, 50, 0.80) 55%, #dee1e9 100%);
    height: 40vh !important;
    border-bottom: solid;
    border-width: 1px;
    border-color: var(--accents);
}
.projects h1{
    margin: 0 10% 0 10px;
    font-size: 1.3rem;
    color: var(--maincolor);
    text-shadow: 2px 2px #000;
}
.projects h2{
    margin: 0 30px;
    font-size: 1.1rem;
    color: var(--maincolor);
    text-shadow: 2px 2px #000;
}
.projects a{
    border: solid;
    border-color: var(--accents);
    border-radius: 4px;
    border-width: 2px;
    text-align: center;
    color: var(--maincolor);
    padding: 5px;
    margin: 10% 10% 0 10%;
    background-color: var(--accents);
    font-size: 1.1rem;
}
.projects a:hover{
    color: var(--secondarycolor);
    border-color: var(--secondarycolor);
    cursor: pointer;
}
.deskapp{
    background-image: linear-gradient(80deg, rgba(50, 50, 50, 0.80) 55%, #dee1e9 100%), url(/assets/img/DeskApp.png);
}

/** footer section **/
footer{
    flex-shrink: 0;
    height: 50px;
    background-color: var(--maincolor);
}
.row{
    display: flex;
    height: 100%;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
}
.meta{
 padding: 15px;
 text-align: center;
}



/** States **/

.nav-link:hover, .nav-link:focus{
    color: var(--secondarycolor);
}
button:hover, button:focus{
    color: var(--secondarycolor) !important;
}
button:focus{
    outline: 0;
}
button::-moz-focus-inner{ 
    border: 0;
}
*:focus{
    outline-style: solid;
    outline-offset: 1.5px;
    outline-width: 0.5mm;
}



