/**
*@Author Thophile
*@Project Thophile.com
*@Page Projects view
*/

/*  All projects page   */

main{
    background: linear-gradient(95deg, var(--accent) 74.9%, var(--mainColor ) 75%);
}
.header{
    display: flex;
    flex-direction: column;
    height: 40vh;
    max-width: 70%;
    justify-content: center;
    align-items: flex-start;
}
.header h1{
    margin: 20px 10px;
    font-size: 1.3rem;
    color: var(--mainColor);
}
.header form{
    margin: 0 30px;
}
.header button{/*filter button*/
    border:2px solid var(--mainColor);
    border-radius: 3px;
    color: var(--mainColor);
    padding: 5px;
    margin: 5px;
    background-color: inherit;
    font-size: 1rem;
}

/**    Projects presentation   **/
.projects{
    display: flex;
    flex-direction: column;
    justify-content: center;
    box-shadow: inset 0 0 0 999em rgba(80, 86, 99, 0.8);
    background-color: #5056637a;
    /*background: linear-gradient(80deg, rgba(50, 50, 50, 0.80) 55%, #dee1e9 100%);*/
    background-position: left center;
    background-repeat:no-repeat;
    height: 60vh;
    margin: 30px;
    transition: 0.3s;
}
.projects:hover{
    box-shadow: inset 0 0 0 999em rgba(122, 129, 137, 0.4);
    text-shadow: 1px 1px 20px var(--accent), -1px -1px 20px var(--accent);
}
.projects h1{
    margin: 30px 30px;
    font-size: 2rem;
    line-height: 1.2;
    letter-spacing: 0.15em;
    color: var(--mainColor);
    align-self: flex-start;
}
.projects h2{
    display: flex;
    margin: 6vh 10px;
    font-size: 1.5rem;
    font-weight: 500;
    line-height: 1;
    letter-spacing: 1;
    color: var(--mainColor);
    align-self: center;
    text-align: center;
}
@media only screen and (min-width: 1000px){
    .projects h1{
        text-align: center;
        align-self: center;
    }
}
/*
.projects a{
    border: 2px solid var(--accent);
    border-radius: 4px;
    text-align: center;
    color: var(--mainColor);
    padding: 5px;
    margin: 10% 10% 0 10%;
    background-color: var(--accent);
    font-size: 1.1rem;
}
.projects a:hover{
    color: var(--secondaryColor);
    border-color: var(--secondaryColor);
    cursor: pointer;
}*/