/**
*@Author Thophile
*@Project Thophile.com
*@Page Project view
*/

/** header **/
.header{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    background-color: var(--accent);
    min-height: calc(100vh - 120px);
    text-align: center;
    padding-bottom: 20px;
}
.header h1{
    font-size: 3rem;
    line-height: 1.2;
    letter-spacing: 0.15em;
    color: var(--mainColor);
}
.header h2{
    font-size: 2rem;
    font-weight: 500;
    line-height: 1;
    letter-spacing: 1;
    color: var(--mainColor);
}
    /** links **/
#links{
    padding: 5px 0px;
    background-color: var(--accent);
}
#links a{
    color: var(--mainColor);
    border:1px solid var(--mainColor);
    font-size: 1.2rem;
    border-radius: 3px;
    min-width: 125px;
    padding: 5px;
    margin:3px;
    text-align: center;
}
    /** merry-go **/
@media only screen and (orientation : landscape){
    #images{
        height: 100vh !important;
    }
    #images img.merry{
        max-height: calc(100vh - 75px)!important;
    }
}

#images{
    width: 100%;
    height: 50vh;
    background-color: var(--mainColor);
}
#images img.merry{
    max-height: calc(50vh - 75px);
    width: auto;
    max-width: 100%;
    display: none;
    margin: auto;
}
#images img.active{
    display: block;
    transition: 0.3s;
}
#images img.active:hover{
    opacity: 0.75;
}
#images .dots.active{
    background-color: var(--accent);
}
#images .banner{
    min-height: 70px;
    width: 100%;
    position: relative;
    bottom: 0;
    display: flex;
    flex-direction: row;
    align-items: center;
}
.banner .right{
    align-items: flex-start;
    display: flex;
    flex-direction: column;
    align-content: center;
}
.banner .middle{
    align-items: stretch;
    display: flex;
    width: 100%;
    flex-direction: column;
    align-content: center;
}
.banner .left{
    align-items: flex-end;
    display: flex;
    flex-direction: column;
    align-content: center;
}
#images label{
    display: inline-block;
    width: 100%;
    text-align: center;
    font-size: 1.2rem;
    margin: 4px 0;
}
#images .dots_group{
    height: 22px;
    width: 100%;
    text-align: center;
}
.dots{
    background-color: var(--mainColor);
    display: inline-block;
    margin: 2px;
    width: 16px;
    height: 16px;
    border: 1px solid var(--accent);
    border-radius: 8px; 
}
.dots:hover{
    background-color: var(--secondaryColor)!important;
    cursor: pointer;
}
.fa-chevron-left:hover, .fa-chevron-right:hover{
    cursor: pointer;
    color: var(--secondaryColor);
}
/** merry-go modal **/
#modal{
    display: none;
    overflow: auto;
    padding: 0px;
    z-index: 512;
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    background-color: #3c424ef0;
}
#modal i{
    position: absolute;
    top: 20px;
    right: 20px;
    margin: 10px;
    color: var(--mainColor);
}
#modal i:hover{
    color: var(--secondaryColor);
}
#modalImg{
    margin: 25px;
    display: block;
    height: auto;
    width: calc(100% - 50px);
    /** Animation **/
    animation-name: zoom;
    animation-duration: 0.3s;
}
@keyframes zoom {
    from {transform:scale(0)}
    to {transform:scale(1)}
}

/** article section **/
article{
    background-color: var(--mainColor);
    padding-bottom: 20vh;
}
article section {
    display: flex;
    flex-direction: column;
    padding-top: 8vh;
}
article h1{
    max-width: 70%;
    margin:0 20px;
    padding: 10px 10px;
    border: 1px solid var(--accent);
    border-style: none none solid none;
}
article p {
    display: block;
    padding-top: 7vh;
    margin: auto 5%;
    line-height: 1.7;
    white-space: pre-line;
}