/**
*@Author Thophile
*@Project Thophile.com
*@Page Projects view
*/

/*  All projects page   */

main{
    background-color: var(--accent);
    background: linear-gradient(93deg, var(--accent) 74.9%, var(--mainColor ) 75%);
}
.header{
    display: flex;
    flex-direction: column;
    height: 40vh;
    max-width: 80%;
    justify-content: center;
    align-items: flex-start;
}
.header h1{
    padding: 10px;
    margin: 30px 14vw;
    font-size: 1.5rem;
    border: 2px solid var(--mainColor);
    border-style: none none none solid;
    color: var(--mainColor);
}
.header form{
    margin: 0 5vw;
    border-radius: 3px;
    display: flex;
    flex-wrap: wrap;
}
.header button{/*filter button*/
    padding: 5px 10px;
    width: unset;
    font-size: 1rem;
}

/**    Projects presentation   **/
.projects{
    display: flex;
    flex-direction: column;
    justify-content: center;
    box-shadow: inset 0 0 0 999em #7a8189b9, 0 0 5px 0 var(--accent);
    background-color: var(--mainColor);

    background-position: left center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 60vh;
    margin: 30px;
    border-radius: 3px;
    transition: 0.4s;
}
.projects.empty{
    box-shadow: inset 0 0 0 999em var(--accentLight), 0 0 5px 0 var(--accent)!important;
    text-shadow: 1px 1px 20px var(--accent), -1px -1px 20px var(--accent)!important;
}
.projects:hover{
    box-shadow: inset 0 0 0 999em var(--accentLight), 0 0 5px 0 var(--accent);
    text-shadow: 1px 1px 20px var(--accent), -1px -1px 20px var(--accent);
}
.projects a{
    position: absolute;
    overflow: hidden;
        width: calc(100% - 60px);
        height: 60vh;
        text-decoration: none;
        z-index: 10; 

        /** IE fixs **/
        background-color: #FFF; 
        opacity: 0; 
        filter: alpha(opacity=1); 
}
.projects h2{
    margin: 30px 30px;
    font-size: 2rem;
    line-height: 1.2;
    letter-spacing: 0.15em;
    color: var(--mainColor);
    align-self: flex-start;
}
.projects h3{
    display: flex;
    margin: 6vh 10px;
    font-size: 1.5rem;
    font-weight: 500;
    line-height: 1;
    letter-spacing: 1;
    color: var(--mainColor);
    align-self: center;
    text-align: center;
}
@media only screen and (min-width: 1000px){
    .projects h2{
        text-align: center;
        align-self: center;
    }
}
/*
.projects a{
    border: 2px solid var(--accent);
    border-radius: 4px;
    text-align: center;
    color: var(--mainColor);
    padding: 5px;
    margin: 10% 10% 0 10%;
    background-color: var(--accent);
    font-size: 1.1rem;
}
.projects a:hover{
    color: var(--secondaryColor);
    border-color: var(--secondaryColor);
    cursor: pointer;
}*/