/**
*@Author Thophile
*@Project Thophile.com
*@Page Project view
*/

    /** overview **/
.overview{
    background: linear-gradient(75deg, var(--accents) 59.9%, #dee1e9 60%, #dee1e9 61.4%, var(--accents) 61.5%, var(--accents) 62.9%, #dee1e9 63%, #dee1e9 64.4%, var(--accents) 64.5%);
    height: 40vh !important;
    border-bottom:1px solid var(--accents);
}
.overview h1{
    margin: 0 10% 0 10px;
    font-size: 1.3rem;
    color: var(--maincolor);
}
.overview h2{
    margin: 0 30px;
    font-size: 1.1rem;
    color: var(--maincolor);

}
.overview a{
    border: 2px solid var(--maincolor);
    border-radius: 4px;
    text-align: center;
    color: var(--maincolor);
    padding: 5px;
    margin: 10% 10% 0 10%;
    background-color: var(--accents);
    font-size: 1.1rem;
}
.overview a:hover{
    color: var(--secondarycolor);
    border-color: var(--secondarycolor);
    cursor: pointer;
}
    /** links **/
#links{
    padding: 5px 0px;
    background-color: var(--accents);
}
#links a{
    color: var(--maincolor);
    border:1px solid var(--maincolor);
    border-radius: 3px;
    min-width: 125px;
    padding: 3px;
    margin:2px;
    text-align: center;
}
    /** merry-go **/
#images{
    width: 100%;
    height: 70vh;
    background-color: var(--maincolor);
}
#images img.merry{
    max-height: calc(70vh - 40px);
    width: auto;
    max-width: 100%;
    display: none;
    margin: auto;
}
#images img.active{
    display: block;
    transition: 0.3s;
}
#images img.active:hover{
    opacity: 0.75;
}
#images .dots.active{
    background-color: var(--accents);
}
#images .banner{
    min-height: 70px;
    width: 100%;
    position: relative;
    bottom: 0;
    display: flex;
    flex-direction: row;
    align-items: center;
}
#images label{
    display: inline-block;
    width: 100%;
    text-align: center;
    font-size: 1.2rem;
    margin: 4px 0;
}
#images .dots_group{
    height: 22px;
    width: 100%;
    text-align: center;
}
.dots{
    background-color: var(--maincolor);
    display: inline-block;
    margin: 2px;
    width: 16px;
    height: 16px;
    border: 1px solid var(--accents);
    border-radius: 8px; 
}
.dots:hover{
    background-color: var(--secondarycolor)!important;
    cursor: pointer;
}
.fa-chevron-left:hover, .fa-chevron-right:hover{
    cursor: pointer;
    color: var(--secondarycolor);
}
/** merry-go modal **/
#modal{
    display: none;
    overflow: auto;
    padding: 0px;
    z-index: 512;
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    background-color: #3c424ef0;
}
#modal i{
    position: absolute;
    top: 20px;
    right: 20px;
    margin: 10px;
    color: var(--maincolor);
}
#modal i:hover{
    color: var(--secondarycolor);
}
#modalImg{
    margin: 25px;
    display: block;
    height: auto;
    width: calc(100% - 50px);
    /** Animation **/
    animation-name: zoom;
    animation-duration: 0.3s;
}
@keyframes zoom {
    from {transform:scale(0)}
    to {transform:scale(1)}
}

/** article section **/
article{
    background-color: var(--maincolor);
    padding-bottom: 20vh;
}
article section {
    display: flex;
    flex-direction: column;
    padding-top: 8vh;
}
article h1{
    max-width: 70%;
    margin:0 20px;
    padding: 10px 10px;
    border: 1px solid var(--accents);
    border-style: none none solid none;
}
article p {
    display: block;
    padding-top: 7vh;
    margin: auto 5%;
    line-height: 1.7;
    white-space: pre-line;
}